  <h2>Site Directory</h2>
  <ul>
    <li><a href="/Home" target="_blank">Home</a></li>
    <li><a href="/About" target="_blank">About</a></li>
    <li><a href="/Blog" target="_blank">Blog</a></li>
	<li><a href="/Gallery" target="_blank">Gallery</a></li>
	<li><a href="/Music" target="_blank">Music</a></li>
	  <ul>
		<li><a href="/Music/Don-Ellis-Archive" target="_blank">Don Ellis Archive</a></li>
  <li><a href="/Music/Tone-Generator" target="_blank">Tone Generator</a></li>
	  </ul>
    <p></p>
    <li><a href="/Science" target="_blank">Science</a></li>
    <ul>
      <li><a href="/Science/Atom-History" target="_blank">Atom History</a></li>
      <li><a href="/Science/Forensics" target="_blank">Forensics</a></li>
    </ul>
  </ul>
