<div class="sidebar">
  <a href="/Home.html" {% if page.url == "/Home.html" or page.url == "/" %}class="active"{% endif %}>Home</a>
  <a href="/About.html" {% if page.url == "/About.html" %}class="active"{% endif %}>About</a>
  <a href="/Blog.html" {% if page.url == "/Blog.html" %}class="active"{% endif %}>Blog</a>
  <a href="/Gallery.html" {% if page.url == "/Gallery.html" %}class="active"{% endif %}>Gallery</a>
  <div class="menu-item">
    <a href="/Music.html" {% if page.url contains "/Music" %}class="active"{% endif %}>Music</a>
    <div class="submenu">
      <a href="/Music/Don Ellis Archive.html" {% if page.url contains "/Music/Don" %}class="active"{% endif %}>Music</a>
    </div>
  </diV>
  <div class="menu-item">
    <a href="/Science.html" {% if page.url contains "/Science" %}class="active"{% endif %}>Science</a>
    <div class="submenu">
      <a href="/Science/Atom History.html" {% if page.url contains "/Science/Atom" %}class="active"{% endif %}>Science</a>
      <a href="/Science/Forensics.html" {% if page.url contains "/Science/Forensics" %}class="active"{% endif %}>Science</a>
    </div>
  </div>
</div>
