<div class="sidebar">
  <a href="/Home" {% if page.url == "/Home" or page.url == "/" %}class="active"{% endif %}>Home</a>
  <a href="/About" {% if page.url == "/About" %}class="active"{% endif %}>About</a>
  <a href="/Blog" {% if page.url == "/Blog" %}class="active"{% endif %}>Blog</a>
  <a href="/Gallery" {% if page.url == "/Gallery" %}class="active"{% endif %}>Gallery</a>
  <div class="menu-item">
    <a href="/Music" {% if page.url contains "/Music" %}class="active"{% endif %}>Music</a>
    <div class="submenu">
      <a href="/Music/Don Ellis Archive" {% if page.url contains "/Music/Don" %}class="active"{% endif %}>The Archive</a>
      <a href="/Music/Tone Generator" {% if page.url contains "/Music/Ton" %}class="active"{% endif %}>Tone Generator</a>
    </div>
  </div>
  <div class="menu-item">
    <a href="/Science" {% if page.url contains "/Science" %}class="active"{% endif %}>Science</a>
    <div class="submenu">
      <a href="/Science/Atom History" {% if page.url contains "/Science/Atom" %}class="active"{% endif %}>Atom History</a>
      <a href="/Science/Forensics" {% if page.url contains "/Science/Forensics" %}class="active"{% endif %}>Forensics</a>
    </div>
  </div>
</div>
